<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <%- include('_head_part') %>
  <link rel="stylesheet" href="/CSS/rent_info_details.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('_navbar_part') %>
    <!-- end Navbar -->
    <% if (user == undefined) { %>
      <h5 class="container text-right mt-4">عزيزي المتأجر:&nbsp;<span class="colored">لايوجد بيانات!</span></h5>
    <% } else { %>  
      <h5 class="container text-right mt-4">عزيزي المتأجر:&nbsp;<span class="colored"><%= user.firstname %>&nbsp;<%= user.lastname %></span></h5>
    <% } %> 
    <!-- rent info current details table -->
    <table class="table text-center container contain mt-5">
      <thead class="thead-light">
        <tr>
          <th colspan="6">الحجوزات الحالية</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#</th>
          <th>اسم السيارة</th>
          <th>من</th>
          <th>الى</th>
          <th>المبلغ</th>
          <th>ضبط</th>
        </tr>
        <% if (user != undefined) { %>
          <% if(user.underrents.length > 0) { %>
            <% let i = 1; %> 
            <% user.underrents.forEach(car => { %>
              <form action="/edit_car" method="POST">
                <input type="hidden" name="userid" value="<%= user.id %>">
                <input type="hidden" name="carid" value="<%= car.id %>">
                <input type="hidden" name="name" value="<%= car.name %>">
                <input type="hidden" name="from" value="<%= car.from.toDateString() %>">
                <input type="hidden" name="to" value="<%= car.to.toDateString() %>">
                <input type="hidden" name="cost" value="<%= car.cost %>">
                <tr>
                  <th scope="row"><%= i %></th>
                  <td><%= car.name %></td>
                  <td><%= car.from.toDateString() %></td>
                  <td><%= car.to.toDateString() %></td>
                  <td>$<%= car.cost %></td>
                  <td><button class="btn btn-danger">الغاء الحجز</button></td>
                </tr>
              </form>
              <% i++; %> 
            <% }) %> 
          <% } else { %>
            <tr>
              <td colspan="6">لايوجد بيانات</td>
            </tr>
          <% } %> 
        <% } else { %>
          <tr>
            <td colspan="6">لايوجد بيانات</td>
          </tr>
        <% } %> 
      </tbody>
    </table>
    <!-- end rent info current details table -->
    <!-- rent info recent details table -->
    <table class="table text-center container contain mt-5">
      <thead class="thead-light">
        <tr>
          <th colspan="5">الحجوزات السابقة</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#</th>
          <th>اسم السيارة</th>
          <th>من</th>
          <th>الى</th>
          <th>المبلغ</th>
        </tr>
        <% if (user != undefined) { %>
          <% if(user.lastrents.length > 0) { %>
            <% let k = 1; %> 
            <% user.lastrents.forEach(car => { %>
              <tr>
                <th scope="row"><%= k %></th>
                  <td><%= car.name %></td>
                  <td><%= car.from.toDateString() %></td>
                  <td><%= car.to.toDateString() %></td>
                  <td>$<%= car.cost %></td>
              </tr>
              <% k++; %> 
            <% }) %> 
          <% } else { %>
              <tr>
                <td colspan="6">لايوجد بيانات</td>
              </tr> 
          <% } %>
        <% } else { %>
            <tr>
              <td colspan="6">لايوجد بيانات</td>
            </tr> 
        <% } %> 
      </tbody>
    </table>

    <!-- end rent info recent details table -->
    <!-- Footer -->
    <%- include('_footer_part') %>
    <!-- end Footer -->
</body>

</html>